@import '@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    border: 2px solid #d1d5db;
    border-radius: 0.375rem;
    cursor: not-allowed;
    transition: all 0.2s ease-in-out;
}

.custom-checkbox:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.875rem;
    height: 0.875rem;
    background-color: #f59e0b; /* Yellow for checked state */
    transform: translate(-50%, -50%) scale(0);
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}

.custom-checkbox.checked:after {
    transform: translate(-50%, -50%) scale(1);
}

/* Dark mode adjustments */
.dark .custom-checkbox {
    background-color: #374151;
    border-color: #4b5563;
}

.dark .custom-checkbox.checked:after {
    background-color: #fbbf24;
}

.badge-en-reparacion {
    background-color: #fbbf24;
    color: #1f2937;
}

.badge-en-uso {
    background-color: lightskyblue;
    color: #1f2937;
}

.badge-esperando-repuesto {
    background-color: darkorange;
    color: #1f2937;
}

.badge-a-dar-de-baja {
    background-color: #ef4444;
    color: #1f2937;
}

.badge-dado-de-baja {
    background-color: #6b7280;
}

.badge-en-espera {
    background-color: #22d94c;
    color: #1f2937;
}

.device-title-header {
    border-radius: 10px;
    @apply p-1
}
